# GCP VM configuration
VM_NAME=vm-1
ZONE=us-west1-a
USERNAME=vamsithegreat1996

# Paths on your Windows machine (full paths, use double slashes)
SCRIPT_PATH=W:\\Programmer\\codeAndcode\\cursor01\\bin\\RunOnVm\\required-installationGCP.sh
NGINX_CONFIG_PATH=W:\\Programmer\\codeAndcode\\cursor01\\bin\\RunOnVm\\config\\nginx-config.cfg
SITE_TEMPLATE_PATH=W:\\Programmer\\codeAndcode\\cursor01\\bin\\RunOnVm\\config\\site-template-no-ssl.conf

# Target paths on the VM
REMOTE_DIR=/home/${USERNAME}
REMOTE_CONFIG_DIR=${REMOTE_DIR}/config
